body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  margin: 0;
  padding-left: 10%;
  padding-right: 10%;
}

h1 {
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
}

table {
  border-collapse: collapse;
  margin-bottom: 20px;
  width: auto;
  table-layout: auto;
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #4b4b4b;
    color: #f1f1f1;
  }

  table {
    background-color: #1e1e1e;
    color: #fff;
  }

  th {
    background-color: #2c2c2c;
  }
}